# Node dependencies
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env config
# .env

# IDE/editor settings
.vscode/
.idea/
.DS_Store
Thumbs.db
